<h1>New Job Listing</h1>

<div class="row">
  <div class="col-md-4">
    <p>Please make your listing as detailed as possible.</p>
  </div>
    <div class="col-md-8">
      <%= form_for @listing do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Enter listing title" %>
        </div>
        <div class="form-group">
          <%= f.label :locaiton %>
          <%= f.text_field :location, class: 'form-control', placeholder: "Enter location" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, rows: 4, class: 'form-control', placeholder: "Enter listing description" %>
        </div>
        <div class="form-group">
          <%= f.label :pay %>
          <%= f.number_field :pay, class: 'form-control', placeholder: "Enter hourly pay" %>
        </div>
        <div class="form-group">
          <%= f.label :compensation %>
          <%= f.text_field :compensation, class: 'form-control', placeholder: "Enter compensation description" %>
        </div>
      <%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>
    </div>
  </div>
</div>