<div class="favorite">

  <% if @favorite %>
    <%= link_to [@favorite], class: 'btn btn-danger' do %>
      <i class="glyphicon glyphicon-star-empty"> </i>&nbsp; Unfavorite
    <% end %>
  <% else %>
    <%= form_for Favorite.new do |f| %>
      <%= f.hidden_field :favorable_id, value: favorable.id %>
      <%= f.hidden_field :favorable_type, value: favorable.class %>
      <%= f.submit "Favorite this job posting", class: 'btn btn-primary' %>
    <% end %>
    <!-- <i class="glyphicon glyphicon-star"> </i>&nbsp; Favorite this job  listing -->
  <% end %>
</div>