<h1><%= @job.name %></h1>
<div class="pull-right">
  <% if policy(@job).update? %>
    <%= link_to "Edit Job", edit_category_job_path, class: 'btn btn-success' %>
  <% end %>

   <% if policy(@job).destroy? %>
     <%= link_to "Delete Job", [@category, @job], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this job?' } %>
   <% end %>
</div>

<div class="pull-right">

</div>

<div class="row">
  <div class="col-md-8">
    <p><%= markdown_to_html @job.description %></p>
    <%= render partial: 'favorites/favorite', locals: {favorable: @job} %>
    <% @posts.each do |post| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
          <%#= render partial: 'votes/voter', locals: { post: post } %>
            <%= link_to (markdown_to_html post.title), [@category, @job, post] %>
          </h4>
           <small>
             <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
             submitted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to post.user.name, post.user %><br/>
             <%#= post.comments.count %> 
           </small>
        </div>
      </div>
    <% end %>
  </div>
    <div class="col-md-4">
      <% if policy(Post.new).create? %>
        <%= link_to "New Post", new_category_job_post_path(@category, @job), class: 'btn btn-success' %>
      <% end %> 

      <% if policy(Mentor.new).create? %>
        <%= link_to "Offer Mentorship", new_mentor_path(job_id: @job.id), class: 'btn btn-success' %>
      <% end %>
    </div> 
</div>

<div class="row">
  <% if @mentor %>
    <div class="col-md-4">
      <h3>Mentorships available for <%= @job.name %></h3>
        <% @mentors.each do |mentor| %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <p><%= link_to mentor.user.name, mentor %></p>
              </h4>
            </div>
          </div>
        <% end %>
    </div>
  <% end %>

  <% if @user %>
    <div class="col-md-4">
      <h3>Users who have favorited <%= @job.name %>:</h3>
        <% @users.each do |u| %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <p><%= link_to u.user.name, user_path(u.user) %></p>
              </h4>
            </div>
          </div>
        <% end %>
    </div>
  <% end %> 
</div>