<%= image_tag(@user.avatar.url) if @user.avatar? %>
<h1><%= @user.name %></h1>

<div class="row">
  <div class="col-md-8">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <p>Location: <%= @user.location %></p>
            <p>About: <%= @user.about %></p>
            <p>Aspirations: <%= @user.aspirations %></p>
          </h4>
        </div>
      </div>
  </div>
</div>