<%= image_tag(@user.avatar.url) if @user.avatar? %>
<h1><%= @user.name %></h1>

<div class="row">
  <div class="col-md-8">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <p>Location: <%= @user.location %></p>
            <p>About: <%= @user.about %></p>
            <p>Aspirations: <%= @user.aspirations %></p>
            <p>Email: <%= mail_to @user.email, @user.email %></p>
          </h4>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <% @listings.each do |listing| %>
              <% if listing.user_id == @user.id %>
                <p><%= link_to listing.title, listing %> (<%= listing.category.title %>) </p>
              <% end %>
            <% end %>
          </h4>
        </div>
      </div>
  </div>
</div>