<%= image_tag(@user.avatar.url) if @user.avatar? %>
<h1><%= @user.name %></h1>

<div class="row">
  <div class="col-md-8">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <p>Location: <%= @user.location %></p>
            <p>About: <%= @user.about %></p>
            <p>Aspirations: <%= @user.aspirations %></p>
            <p>Email: <%= mail_to @user.email, @user.email %></p>
          </h4>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h3>Job Listings by <%= @user.name %>:</h3>
          <h4 class="media-heading">
            <% @listings.each do |listing| %>
                <p><%= link_to listing.title, listing %> (<%= listing.category.title if listing.category %>) </p>
            <% end %>
          </h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h3>Brainstorms by <%= @user.name %>:</h3>
          <h4 class="media-heading">
            <% @brainstorms.each do |brainstorm| %>
                <p><%= link_to brainstorm.title, brainstorm %> (<%= brainstorm.category.title if brainstorm.category %>) </p>
            <% end %>
          </h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h3>Mentorships offered by <%= @user.name %>:</h3>
          <h4 class="media-heading">
            <% @mentorships.each do |mentor| %>
                <p><%= link_to "Mentorship", mentor %> (<%= mentor.job.name if mentor.job %>) </p>
            <% end %>
          </h4>
      </div>
    </div>
  </div>
</div>