<br/>
<div class="jumbotron">
  <span class="pull-right">
    <p><%= link_to "Job Listings", listings_path, class: 'btn btn-primary' %></p>
    <p><%= link_to "Meet the Community", users_path, class: 'btn btn-primary' %></p>
  </span>
  <h1>Non-Office Jobs</h1>
  <p><em>Stop</em> shuffling around listlessly from your cubicle to the bathroom.<br />
  <strong>Start</strong> living from your heart, all day, every day!</p>
  <% if !current_user %>
    <p>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Discover your life's work</h2>
    <p>Through quizzes and community, Non-Office Jobs will help you figure out what fulfills you.</p>
  </div>
  <div class="col-md-4">
    <h2>Educate yourself & make a game plan</h2>
    <p>Non-Office Jobs has a wealth of information that is always growing so you can figure out the steps you need to take to make your dream a reality.</p>
    <p><%= link_to "Jobs", categories_path, class: 'btn btn-primary' %></p>
  </div>
  <div class="col-md-4">
    <h2>Find a mentor</h2>
    <p>Non-Office Jobs provides for volunteer mentors to connect with those who wish to learn from them.</p>
  </div>
</div>