<br/>
<div class="jumbotron">
  <span class="pull-right">
    <p><%= link_to "Job Opportunities", listings_path, class: 'btn btn-primary' %></p>
    <p><%= link_to "Meet the Community", users_path, class: 'btn btn-primary' %></p>
  </span>
  <h1>Non-Office Jobs</h1>
  <p>Job making you dull and complacent? Want to shake it up but fear losing the security?<br />
  Join today to get the support, community, and mentorship you need to make a change and live fully. For real.</p>
  <% if !current_user %>
    <p>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Discover your life's work</h2>
    <p>Through <%= link_to "quizzes", quizzes_path %> and <%= link_to "community", users_path %>, Non-Office Jobs will help you figure out what fulfills you.</p>
    <p>Check out our brainstorms to get started.</p>
    <p><%= link_to "Brainstorms", brainstorms_path, class: 'btn btn-primary' %></p>
  </div>
  <div class="col-md-4">
    <h2>Educate yourself & make a game plan</h2>
    <p>Non-Office Jobs has a wealth of information that is always growing so you can figure out the steps you need to take to make your dream a reality.</p>
    <p><%= link_to "Jobs", categories_path, class: 'btn btn-primary' %></p>
  </div>
  <div class="col-md-4">
    <h2>Find a mentor</h2>
    <p>Non-Office Jobs connects volunteer mentors with students so  community members are supported and guided.</p>
    <p><%= link_to "Mentors", mentors_path, class: 'btn btn-primary' %></p>
  </div>
</div>