<h1>Quizzes</h1>
<br>
<div>
<p>These are offered as food for thought, and are in no way intended to be exhaustive accounts of your personality or what you should do with your life. Please enjoy!</p>
</div>

<div>
  <h4><%= link_to "Myers-Brigg Personality Test", "http://www.16personalities.com/free-personality-test", :target => "_blank" %></h4>
  <p>Carl Jung and Isabel Briggs Myers' famous personality test that results in a 4-letter abbreviation you can use to sound smart on dating websites. (INFJ, ENTP, etc.)<br>
  It gives a detailed assessment of your type that includes what type of careers your personality will thrive in, as well as those it won't.</p>
</div>

<div>
  <h4><%= link_to "The MAPP™ Career Assessment Test", "http://www.assessment.com/default.asp", :target => "_blank" %></h4>
  <p>Please be advised that only the initial assessment is free, and it's an in-the-box type test.<br>
  "The MAPP uniquely helps you find your true calling. We start by giving you a narrative that offers insights into what makes you tick. But we go much further. We then take your test results and match it to real careers, real jobs that are right for you."</p>
</div>

<div>
  <h4><%= link_to "Career Quiz from carecareers", "http://www.carecareers.com.au/page/career-quiz", :target => "_blank" %></h4>
  <p>carecareers is an Australian non-profit who recruits people to work in community care and the disability sector. Their quiz is positioned for what they specialize in, but its results can still be helpful and thought-provoking.<br>
  The quiz asks you to select images that best match up to your answers. It then produces a color that describes your personality, and what role they would fit you in, as well as a description of your personality.<br>
  </p>
</div>

<div>
  <h4><%= link_to "What is Your Dream Job?", "http://www.mycareerquizzes.com/job-quiz", :target => "_blank" %></h4>
  <p>A quick quiz by mycareerquizzes.com. It gives a specific answer for what your dream job is. Could be totally wrong, but fun to see nonetheless.</p>
</div>

<div>
<br><p>Have a favorite career or personality quiz? Let us know! <%= mail_to "rachel@nonofficejobs.com", "rachel@nonofficejobs.com" %></p>
</div>
