<h1>Job: <%= link_to @mentor.job.name, category_job_path(@mentor.job.category, @mentor.job) %></h1>

<div class="pull-right">
  <% if policy(@mentor).update? %>
    <%= link_to "Edit Mentorship", edit_mentor_path, class: 'btn btn-success' %>
  <% end %>
  
  <% if policy(@mentor).destroy? %>
     <%= link_to "Delete Mentorship", @mentor, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this listing?' } %> 
   <% end %>
</div>

<div class="row">
  <div class="col-md-8">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <p>Description: <%= @mentor.description %></p>
            <p>Listed by: <%= link_to @mentor.user.name, @mentor.user %></p>
            <p>Contact email: <%= mail_to @mentor.user.email, @mentor.user.email %></p>
          </h4>
          <%= render partial: 'favorites/favorite', locals: {favorable: @mentor} %>
        </div>
      </div>
  </div>
</div>