<h1><%= @brainstorm.title %></h1>

<div class="pull-right">
  <%# if policy(@job).update? %>
    <%= link_to "Edit Brainstorm", edit_brainstorm_path, class: 'btn btn-success' %>
  <%# end %>

  
  <%# if policy(@category).destroy? %>
     <%#= link_to "Delete Category", @category, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this category?' } %> 
   <%# end %>
</div>

<div class="row">
  <div class="col-md-8">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            Category: <%= @brainstorm.category.title %><br />
            <%= @brainstorm.description %><br />
            <small>
              submitted by <%= link_to @brainstorm.user.name, @brainstorm.user %> <%= time_ago_in_words(@brainstorm.created_at) %> ago
            </small>
          </h4>
        </div>
      </div>
  </div>
  <div class="col-md-4">
</div>