<!DOCTYPE html>
<html>
  <head>
    <title>Non-Office Jobs</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", welcome_about_path %></li>
        <li><%= link_to "Blog", welcome_blog_path %></li>
        <li><%= link_to "Brainstorms", welcome_brainstorms_path %></li>
        <li><%= link_to "Inspiration", welcome_inspiration_path %></li>
      </ul>

      <%= yield %>
    </div>

  </body>
</html>
