<!DOCTYPE html>
<html>
  <head>
    <title>Non-Office Jobs</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Home", root_path %></li>
        <li><div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">About
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="about">About</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="faq">FAQ</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="contact">Contact</a></li>
          </ul>
        </div></li>
        <li><%= link_to "Blog", "http://www.nonofficejobsblog.com/", :target => "_blank"  %></li>
        <li><%= link_to "Brainstorms", brainstorms_path %></li>
        <li><%= link_to "Inspiration", inspiration_path %></li>
        <li><%= link_to "Community", users_path %></li>

      <div class="pull-right user-info">
       <% if current_user %>
         <%= image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>
         Hello <%= link_to (current_user.name || current_user.email), edit_user_registration_path %>! | <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
       <% else %>
         <%= link_to "Sign In", new_user_session_path %> or 
         <%= link_to "Sign Up", new_user_registration_path %>
       <% end %>
     </div>
     </ul>

       <%= render_breadcrumbs %>
       <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:error] %>
         <div class="alert alert-danger">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:error] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
       <% end %>

      <%= yield %>
    </div>

  </body>
</html>


